.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .app-title {
  color: deepskyblue;
  margin-bottom: 0;
}

.App .game-stage {
  border: 2px solid #000;
}

.App .game-info {
  padding: 5px;
}

.App .game-info .lives > strong {
  color: green;
}

.App .game-info .scores > strong {
  color: orange;
}
